<ActionBar title="WORDLE"> </ActionBar>
<StackLayout class="form">
      <StackLayout orientation="horizontal" horizontalAlignment="center">
            <form [formGroup]="testForm">
                  <TextField formControlName="firstLetter" maxLength="1" hint="entere value" width="50"
                        autocorrect="false" #input1 (textChange)="onTextChange($event)">
                  </TextField>
                  <TextField #input2 id="input2" formControlName="secondLetter" maxLength="1" hint="entere value"
                        width="50" autocorrect="false" (textChange)="onTextChange($event)">
                  </TextField>
                  <!-- <Label [text]="testForm.value | json" textWrap="true" (tap)="emitTap('Hello')"></Label> -->
            </form>
            <TextField hint="Word" width="50" id="myTextField3" #input3
                  (keyup)="(input3.value.length == 1) ? input4.focus() : ''" autocorrect="false" maxLength="1">
            </TextField>
            <TextField hint="Word" width="50" id="myTextField4" #input4
                  (keyup)="(input4.value.length == 1) ? input5.focus() : ''" autocorrect="false" maxLength="1">
            </TextField>
            <TextField hint="Word" width="50" id="myTextField5" #input5 autocorrect="false" maxLength="1"></TextField>
            <!-- <Button text="Submit" (tap)="onButtonTap($event)" class="-primary -lg"></Button> -->

      </StackLayout>
      <!-- <StackLayout>
            <form [formGroup]="testForm">
                  <TextField formControlName="firstLetter" maxLength="1" hint="entere value" autocorrect="false" #input1
                  (textChange)="onTextChange($event)" >
                  </TextField>
                  <TextField #input2 id="input2" formControlName="secondLetter" maxLength="1" hint="entere value"
                        autocorrect="false" (textChange)="onTextChange($event)">
                  </TextField>
                  <Button text="Submit" (tap)="onButtonTap($event)" class="-primary -lg"></Button>
                  <Label [text]="testForm.value | json" textWrap="true" (tap)="emitTap('Hello')"></Label>
            </form>
      </StackLayout> -->
</StackLayout>